<!DOCTYPE html>
<html lang="en" data-bs-theme=dark>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/konyvtarkatalogus/frontend/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/konyvtarkatalogus/frontend/assets/css/style.css">
    <title>Új könyv hozzáadása</title>
</head>
<body>
        <form>
            <div class="col mb-3 mt-4">
                <div class="col mb-3">
                    <input type="text" class="form-control" id="newAuthor" placeholder="Szerző(k)">
                </div>
                <div class="col mb-3">
                    <input type="datetime" class="form-control" id="newBDate" placeholder="Születési dátum(ok)">
                </div>
                <div class="col mb-3">
                    <input type="text" class="form-control" id="newTitle" placeholder="Cím">
                </div>
                <div class="col mb-3">
                    <input type="number" class="form-control" id="newDate" placeholder="Kiadás">
                </div>
                <div class="col mb-3">
                    <input type="number" class="form-control" id="newDate" placeholder="ISBN">
                </div>
            <button type="submit" class="btn btn-primary">Hozzáadás</button>
          </form>

        <script src="/konyvtarkatalogus/frontend/assets/js/bootstrap.min.js"></script>
        <script src="/konyvtarkatalogus/frontend/assets/js/app.js"></script>

</body>
</html>